.footer {
    background-color: #fff;
    width: 100%;
    height: 350px;
    bottom: 0;
    border-top: 10px solid rgb(90, 90, 213);
    /* position: absolute; */

}
.footer-logo{
    display: flex;
    justify-content: left;
    height: 50%;
    width: 100%;
    height: 90px !important;
}
.footer-logo_icon{
    margin-top: 20px;
}
.footer-line{
    border: 1px solid ghostwhite;
}
/* .footer-text_container{
    display: grid;
} */
.footer-text-conpany{
    text-align: left;
    width: 100%;
}
.footer-text-product{
    text-align: left;
    width: 100%;
}
.footer-text-link{
    text-align: left;
    width: 100%;
}
.footer-text-contact{
    text-align: left;
    width: 100%;
    /* display: flex; */
}